data/
.env
.env.*
*.ipa
*.p12
*.p8
*.mobileprovision
build/
dist/
__pycache__/
*.pyc
.DS_Store

.venv/
DerivedData/
*.xcuserstate
xcuserdata/
config.env
*-credentials.json
*-account.json
*.xcarchive
*.key
*.pem
